.row {
  @include flex-grid-row;
  @include flexbox_row;
  justify-content: space-between;
}

//Start style for accordion

.accordion {
  @include flex-grid-column(3);
  width: rem-calc(400);
  display: inline-block;
  background: transparent;
  @media screen and (max-width: 835px) {
    @include flex-grid-column(12);
    margin-bottom: rem-calc(30);
  }

  &__heading {
    position: relative;
    font-family: $title-font-family;
    font-size: rem-calc(25);
    font-weight: 600;
    background-color: $head-color;
    border-bottom: rem-calc(2) solid $black-color;
    overflow: hidden;
    @media screen and (max-width: 835px) {
      font-size: rem-calc(26);
    }

    a {
      display: block;
      justify-content: space-between;
      letter-spacing: rem-calc(1);
      color: $white-color;
      text-decoration: none;
      padding: rem-calc(10) 0 rem-calc(10) rem-calc(20);
      border-bottom: solid rem-calc(2) $color-8;
      transition: all .5s ease;
      &:before {
        font-family: $font-awesome;
        content: '\f0ab';
        color: $white-color;
        position: absolute;
        top: rem-calc(10);
        right: rem-calc(10);
      }
    }
    a:hover {
      background: linear-gradient(to top, $color-8, $head-color, $color-8);
      color: $color-3;
    }
  }
  &__ul {
    list-style-type: none;
    background: transparent;
  }
  &__ul-i {
    display: none;
    border: none;
    overflow: hidden;
    background: $white-color;
  }
  &__item {
    height: rem-calc(50);
    @include flexbox_row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rem-calc(2) $color-8;
    font-size: rem-calc(18);
    cursor: pointer;
    transition: all .5s ease;
  }
  &__item:hover {
    background: linear-gradient(to top, $color-2, $color-9, $color-2);
    color: $color-3;
  }

  &__title {
    margin-left: rem-calc(-15);
  }
  &__box {
    @include flexbox_row;
    justify-content: space-between;
    &:last-child {
      margin-right: rem-calc(5);
    }
  }
  &__numbert {
    display: flex;
    width: rem-calc(40);
    height: rem-calc(40);
    justify-content: center;
    align-items: center;
    border: solid rem-calc(1) $white-color;
    border-radius: 50%;
    margin-right: rem-calc(30);
  }
  &__doc {
    padding-left: rem-calc(30);
    font-family: $desc-font-family;
    @include breakpoint (tb) {
      font-size: rem-calc(18);
    }
  }
  &__number {
    display: flex;
    width: rem-calc(30);
    height: rem-calc(30);
    justify-content: center;
    align-items: center;
    border: solid rem-calc(1) $black-color;
    border-radius: 50%;
    margin-right: rem-calc(15);
  }
}

  //Start styles for Tabs
  .weather {
    @include flex-grid-column(4);
    width: rem-calc(400);
    height: rem-calc(342);
    background: $head-color;
    @media screen and (max-width: 835px) {
      @include flex-grid-column(6);
    }
    @media screen and (max-width: 650px) {
      @include flex-grid-column(12);
      margin-bottom: rem-calc(30);
    }
    .active {
      background: linear-gradient(to top, $color-8, $head-color, $color-8);
    }
    @include flexbox_column;
    &__tab-content {
      align-items: flex-start;
      height: rem-calc(242);
    }
    &__tab-item {
      height: 100%;
      background: $head-color;
    }
    &__region {
      @include flexbox_row;
      justify-content: space-between;
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(60);
      &:nth-child(1) {
        padding-left: rem-calc(20);
      }
      span {
        text-transform: uppercase;
        &:last-child {
          padding-right: rem-calc(20);
        }
      }
    }
    &__grad {
      font-size: rem-calc(65);
      text-align: center;
      font-weight: bold;
      color: $white-color;
      span:last-child {
        padding-left: rem-calc(20);
      }
    }
    &__tabs {
      align-items: flex-end;
      @include flexbox_row;
      height: rem-calc(100);
      border-top: rem-calc(2) solid $black-color;
    }
    &__tab {
      width: 25%;
      height: 100%;
      cursor: pointer;
      background: $head-color;
    }
    &__tab:not(:last-child) {
      border-right: rem-calc(2) solid $black-color;
      transition: all .3s ease;
    }
    &__tab:hover {
      background: $color-8;
    }
    &__icon {
      color: $white-color;
      font-size: rem-calc(20);
      text-align: center;
      padding-top: rem-calc(20);
    }
    &__text {
      color: $white-color;
      font-family: $title-font-family;
      font-size: rem-calc(17);
      text-align: center;
      font-weight: bold;
      @media screen and (max-width: 835px) {
        font-size: rem-calc(15);
      }
    }
  }
  //End styles for Tabs

//Start styles for calendar
.cal{
  @include flex-grid-column(5);
  width: 100%;
  max-width: rem-calc(330);
  height: rem-calc(339);
  //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: $title-font-family;
  background-color: $white-color;
  @media screen and (max-width: 835px) {
    @include flex-grid-column(6);
    max-width: rem-calc(350);
  }
  @media screen and (max-width: 650px) {
    @include flex-grid-column(12);
  }
}

.ui-datepicker-header{
  background-color: $head-color;
  color: $white-color;
  text-align: center;
  font-family: $title-font-family;
  padding: rem-calc(12);
  height: rem-calc(75);
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
  display: none;
}

.ui-datepicker-prev:after{
  content: "<";
  border: solid 1px $white-color;
  border-radius: 50%;
  padding: 0 rem-calc(16);
  font-size: 2rem;
  float: left;
  margin-left: rem-calc(12);
  cursor: pointer;
}


.ui-datepicker-next:after{
  content: ">";
  border: solid 1px $white-color;
  border-radius: 50%;
  padding: 0 rem-calc(16);
  float: right;
  font-size: 2rem;
  margin-right: rem-calc(12);
  cursor:pointer;
}
.ui-datepicker-calendar th{
  padding: rem-calc(8);
  color: $head-color;
}

.ui-datepicker-calendar {
  text-align: center;
  margin: 0 auto;
  padding: rem-calc(10);
}

.ui-datepicker-title{
  padding: rem-calc(12);
  font-size: rem-calc(25);
}

.ui-datepicker-calendar td {
  padding: 0 rem-calc(4);
}

.ui-datepicker-calendar .ui-state-default {
  text-decoration: none;
  color: $black-color;
  font-size: rem-calc(17);
}

.ui-datepicker-calendar .ui-state-active {
  color: $head-color;
  border: solid 1px $head-color;
  padding: 0 rem-calc(4);
  text-align: center;
}

//End styles for calendar

