$black-color: #262626;
$white-color: #ffffff;
$head-color: #00b3b3;
$color-1: #38589c;
$color-2: #ed498a;
$color-3: #d7482b;
$color-4: #7FFF00;
$color-5: #FFD700;
$color-6: rgba(147, 112, 219, .9);
$color-7: #ececec;
$color-8: #60606e;
$color-9: #04b5af;
$color-10: #ebebeb;
$color-11: orange;
$color-12: red;
$color-13: black;
$color-14: blue;
$color-15: #636363;
$snow: #ffffff;
$rose:#ef4a59;
$primary:  #413878;
$secondary:#e85c00;
$input-shadow: rgba(58, 219, 253, .35);