$black-color: #262626;
$white-color: #ffffff;
$head-color: #00b3b3;
$color-1: #38589c;
$color-2: #ed498a;
$color-3: #d7482b;
$color-4: #7FFF00;
$color-5: #FFD700;
$color-6: rgba(147, 112, 219, .7);
$color-7: #ececec;
$color-8: #60606e;
$color-9: #04b5af;